/* ! GENERAL ! */

:root {
  /* primary colors */
  --primary-color-desaturated-red: #ce9797;
  --primary-color-soft-red: #f96262;

  /* netural colors */
  --netural-color-dark-grayish-red: #413a3a;

  /* gradient colors */
  --gradient-color-white: linear-gradient(135deg, #fff 0%, #fff5f5 100%);
  --gradient-color-red: linear-gradient(135deg, #f8bfbf 0%, #ee8c8c 100%);
}

body {
  background: var(--gradient-color-white);
  font: 400 1rem "Josefin Sans", sans-serif;
  padding-bottom: 2rem;
}

.visually-hidden:not(:focus, :active) {
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* ! HEADER ! */

header {
  margin-bottom: 1.95rem;
}

.header-logo {
  max-width: 6.45rem;
  margin: 1.95rem 0 0 1.95rem;
}

/* ! MAIN ! */

/* |Picture Box| */
.main-picture {
  height: 15.6rem;
  background: url("../images/hero-mobile.jpg") center/cover no-repeat;
  margin-bottom: 4.1rem;
}

/* |Email Subscription Box| */
.main-email-subscription {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  padding: 0 2rem;
}

/* Heading */
.email-subscription-heading {
  max-width: 15rem;
  color: var(--primary-color-desaturated-red);
  font: 300 2.62rem "Josefin Sans", sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.6rem;
}

.email-subscription-heading span {
  color: var(--netural-color-dark-grayish-red);
  font: 600 2.5rem "Josefin Sans", sans-serif;
  letter-spacing: 0.7rem;
}

/* Greeting */
.email-subscription-greeting {
  max-width: 20rem;
  color: var(--primary-color-desaturated-red);
  font: 400 0.9rem "Josefin Sans", sans-serif;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 0.8rem;
}

/* Form */

/* input box */
.form-input-box {
  position: relative;
}

.email-subscription-input {
  width: 19.5rem;
  border: 1px solid var(--primary-color-desaturated-red);
  border-radius: 25px;
  padding: 0.95rem 1.45rem;
  outline: 0;
}

.email-subscription-input::placeholder {
  color: var(--primary-color-desaturated-red);
  font: 400 0.85rem "Josefin Sans", sans-serif;
}

.email-subscription-input.validation-complete {
  border: 2px solid var(--primary-color-soft-red);
  padding: 0.887rem 1.387rem;
}

.validation-message-circle {
  display: none;
  position: absolute;
  inset: 0 70px 0 200px;
  background: url("../images/icon-error.svg") center / 45% no-repeat;
}

.validation-message-circle.validation-complete {
  display: block;
}

.email-subscription-submit {
  position: absolute;
  inset: 0 0 0 247px;
  background: url("../images/icon-arrow.svg") center / 20% no-repeat,
    var(--gradient-color-red);
  border: 0;
  border-radius: 500px;
  cursor: pointer;
}

.email-subscription-submit:hover {
  opacity: 0.7;
  box-shadow: 0 5px 10px #00000060;
}

/* validation message */
.validation-message {
  display: none;
  color: var(--primary-color-soft-red);
  font: 400 0.85rem "Josefin Sans", sans-serif;
  padding-left: 1.55rem;
  margin-top: 0.7rem;
}

.validation-message.validation-complete {
  display: block;
}

/* ! DESKTOP SCREENS ! */
@media all and (width >= 64rem) {
  html {
    background: url("../images/bg-pattern-desktop.svg") no-repeat;
    overflow: hidden;
  }

  body {
    background: none;
    padding: 0;
    padding-right: 35%;
  }

  main {
    display: flex;
    justify-content: space-between;
  }

  header {
    margin-top: 4.05rem;
    margin-bottom: 8.5rem;
  }

  .header-logo {
    max-width: 10rem;
    margin-left: 10.3rem;
  }

  .main-picture {
    position: absolute;
    top: 0;
    right: 0;
    height: 50rem;
    width: 42.35%;
    background: url("../images/hero-desktop.jpg") center/cover no-repeat;
    margin-bottom: 0;
    order: 1;
  }

  .main-email-subscription {
    display: block;
    max-width: 48.5rem;
    padding: 0 10.3rem;
  }

  .email-subscription-heading {
    width: 100%;
    max-width: none;
    font: 300 3.92rem "Josefin Sans", sans-serif;
    text-align: start;
    letter-spacing: 1.1rem;
    margin-bottom: 1.2rem;
  }

  .email-subscription-heading span {
    display: inline-block;
    font: 600 4rem "Josefin Sans", sans-serif;
    letter-spacing: 1.08rem;
    margin-top: 0.05rem;
    line-height: 1.11;
  }

  .email-subscription-greeting {
    width: 100%;
    max-width: none;
    font: 400 1.01rem "Josefin Sans", sans-serif;
    text-align: start;
    line-height: 1.7;
    margin-bottom: 2.55rem;
  }

  .email-subscription-input {
    width: 100%;
    max-width: none;
    border-radius: 38px;
    padding: 1.18rem 1.95rem;
  }

  .email-subscription-input.validation-complete {
    padding: 1.13rem 1.887rem;
  }

  .email-subscription-input::placeholder {
    font: 400 0.9rem "Josefin Sans", sans-serif;
    letter-spacing: 0.05rem;
  }

  .email-subscription-submit {
    inset: 0 0 0 77.5%;
    background: url("../images/icon-arrow.svg") center / 0.7rem no-repeat,
      var(--gradient-color-red);
  }

  .validation-message-circle {
    inset: 0 10% 0 68.4%;
    background: url("../images/icon-error.svg") left / 1.5rem no-repeat;
  }

  .validation-message {
    font: 400 0.8rem "Josefin Sans", sans-serif;
    padding-left: 2rem;
  }
}

@media all and (width > 90rem) {
  html {
    background: var(--gradient-color-white);
  }
}
